.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px; // по умолчанию у ant layout header 64px
    background-color: #222;

    &__title {
        color: #fff;
        font-size: 20px;
        margin-left: 16px;
    }

    &__profile {
        margin-right: 16px;
    }
}
