// _variables.scss

// Отступы
$header-horizontal-padding-left: 97px; // Отступ слева для хедера
$header-horizontal-padding-right: 103px; // Отступ справа для хедера

// Цвета
$header-background-color: #222; // Фон хедера

// Размеры
$header-height: 50px; // Высота хедера
