// @import 'variables'; // Импортируем ваши переменные

.header {
    z-index: 1000;
    // box-shadow: $header-box-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #222;
    height: 50px;
}

.header__center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.header__center .ant-btn {
    font-size: 18px;
    color: #ffffff;
    padding: 0 16px;
    height: auto;
    border: none;
    background: transparent;
}

.header__center .ant-btn:hover {
    color: #ffffff !important;
    background: transparent !important;
    box-shadow: none !important;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 10px;
    color: #ffffff !important;
}
